version: "3.4"

services:
  productCatalogDB:
    image: mongo:3
    ports:
      - "27017:27017"
    volumes:
      - productCatalogData:/data/db
    restart: unless-stopped
    environment:
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: root
      MONGO_INITDB_DATABASE: product-catalog
    networks:
      backend:
        aliases:
          - "product-catalog-db"
  warehouseDB:
    image: mongo:3
    ports:
      - "27018:27017"
    volumes:
      - warehouseData:/data/db
    restart: unless-stopped
    environment:
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: root
      MONGO_INITDB_DATABASE: warehouse
    networks:
      backend:
        aliases:
          - "warehouse-db"

  esSearch:
    image: elasticsearch:7.12.1
    ports:
      - "9200:9200"
      - "9300:9300"
    environment:
      - xpack.security.enabled=false
      - discovery.type=single-node
    volumes:
      - ./data/esData:/usr/share/elasticsearch/data
    networks:
      backend:
        aliases:
          - "es-search"

  rabbitmq:
    image: library/rabbitmq:3-management
    container_name: rabbitmq
    ports:
      - 5672:5672
      - 15672:15672
    volumes:
      - ./data/rabbitmqData:/data
    networks:
      backend:
        aliases:
          - "rabbitmq"

networks:
  backend:
    driver: bridge

volumes:
  productCatalogData:
  warehouseData:
